doctype html
html
    head
        title="Greetings"
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
             var cardId = "#{cardId}"
        script(data-main="/scripts/showCard", src="/scripts/libs/require.js")
    body
        block content
            h1= title
            div(id="cardContent" class="card")
            div
                a(href="/") Create your own card